/* admin.css */
body {
    
    font-family: 'Inter', sans-serif;
    color: #333;
  }
  
  .container {
    margin-top: 20px;
  }
  .admin-dashboard{
    width: 100%;

  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #6f1572;
    
    
  }
  .admin-dashboard h5 {
    color: #555; 
    text-align: center; 
    margin-top: 10px; 
}

  
  .user-card {
    transition: transform 0.2s ease;
    border: 3px solid #6f1572;
    border-radius: 12px;
}

.user-card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    color: #6f1572;
}

.card-text {
    color: #555;
}

  .spinner {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  
@media (max-width: 768px) {
    .user-card {
        margin: 0 auto;
    }
}

/* Navbar Styles */
.admin-navbar {
    background-color: #6a0dad; /* Purple background */
    padding: 0.5 rem;
    
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 70px;
    width: auto;  }
  
  .admin-navbar .btn-light {
    color: #6a0dad; /* Purple text color */
    border-color: #ffffff;
    background-color: #ffffff; /* White button for sign out */
  }
  
 
  
  /* Additional styling for spacing and responsiveness */
  
  
  
 
  