:root {
    --color-primary: #694F8E; 
    --color-secondary: #E3A5C7; 
    --color-accent1: #B692C2; 
    --color-accent2: #FFDFD6; 
    --text-color:#2C3E50;; 
}
[data-theme="dark"] {
    --color-primary: #1a1a2e; 
    --color-secondary: #16213e; 
    --color-accent1: #0f3460;
    --color-accent2: #e94560; 
    --text-color: #f0f0f0;
}
