:root {
    --color-primary: #EFBC9B; 
    --color-secondary: #FBF3D5; 
    --color-accent1: #D6DAC8; 
    --color-accent2: #9CAFAA; 
    --text-color:#2C3E50;; 
}
[data-theme="dark"] {
    --color-primary: #1a1a2e; 
    --color-secondary: #16213e; 
    --color-accent1: #0f3460;
    --color-accent2: #e94560; 
    --text-color: #f0f0f0;
}
